body{font-family: 'Ubuntu Condensed', sans-serif;font-size:120%;}
header,footer{background-image:url("../img/Neurochirurgie Mohammed Alshubassi.jpg");background-size:cover}
	*{box-sizing:border-box;-moz-box-sizing: border-box;-webkit-box-sizing:border-box;}
	.container{background-color:#DCDCDC}
	h1{text-align:right;color:#ffffff;padding-bottom:2%;padding-right:2%;padding-top:6%}
	.nav li{display:inline-block}
	.nav{text-align:right;font-weight:bold;padding-right:2%;letter-spacing:2px}
	a {text-decoration:none;color:#A8118B}
	h2{text-align:center;color:#A8118B;background-color:#00ABA4;margin:0}
	.col-12 h2{text-align:left;padding-left:7%}
	#philosophie,#leistungen,#praxisteam,#impressum{padding-left:1%;padding-right:1%}
	#philosophie{text-align:justify}
	p {text-indent:5%;margin:0;padding-left:1%;padding-right:1%}
	address{font-style:normal}
	footer {text-align:right;padding:2%}
	i{width:auto}
	footer a{padding:1%;background-color:#00ABA4}
	#mobil a:hover{border-top:4px groove #00ABA4;border-bottom:4px groove #00ABA4}
	header span{animation:n 5s linear 0s infinite alternate;-webkit-animation:n 5s linear 0s infinite alternate;-moz-animation:n 5s linear 0s infinite alternate
	}
	
	@keyframes n {
		from{color:#A8118B}
		to{color:#ffffff}
	}
	@-webkit-keyframes n {
		from{color:#A8118B}
		to{color:#ffffff}
	}
	@-moz-keyframes n {
		from{color:#A8118B}
		to{color:#ffffff}
	}
	
	@media only screen and (min-width: 240px) and (max-width: 640px) {
		body {font-size:100%}
		*{clear:both;width:100%}
		#kontakt,#sprechzeiten,#anfahrt{width:100%;}
		{padding-left:10%}
		#kontakt article{padding-left:20%}
		#mobil > li{display:none;position:absolute}
		#menu:hover > ul > li {display:block;position:relative;padding-top:1%}
		.nav {letter-spacing:4px;font-weight:bold;}
		.col-12 .col-4{width:100%}
		
		}
		@media only screen and (min-width: 641px) and (max-width: 800px) {
		body {font-size:110%}
		#anfahrt{clear:both;width:100%}
		#kontakt,#sprechzeiten{width:50%}
		#menu > a{display:none}
		#kontakt article{padding-left:10%}
		.col-12 .col-4{width:100%}
		
		}
		@media only screen and (min-width: 801px) {
		#menu > a{display:none}
		.col-4{float:left;width:33.333%}
		
		}
		
		.col-4{float:left;width:33.333%;padding:1%}
		.clear{clear:both}
		img{width:100%}
